
.lpmLogo {
	height: 60px;
	width: 100px;
}
.card-appli {
	height: 100px;
	width: 200px;
}
.carousel {
	margin-top: 20px
}
.arrow-direction {
	width : 20px;
	height: 20px;
	margin-top: 300px;
	
	&-left{
	margin-left: 40px;
	}
	&-right{
		margin-right: 40px;
	}
}
.carousel-control-prev-icon {
	filter: invert(1) !important;
}
.carousel-control-next-icon {
	filter: invert(1) !important;
}
.height {
	&-30 {
		height: 30px;
	}	
}
.toaster-card {
	border: 0px !important;
}

.header{
	color: #00277e;
	font-weight: bold;
	text-align: left;
	border-radius: 10px;
	font-size: 30px;
}
.indicateurHeader{
	height: 50px;
	color: #00277e;
	background-color: #F9E225;
	border-radius: 50px;
	font-weight: bold;
	text-align: center;
	font-family: Arial, sans-serif;

	&-text{
		font-size: 20px;
    	position: relative;
    	top: 18%;
		text-align: center;
	}

	&-img{
		height: 50px !important;
    	width: 40px !important;
    	position: absolute;
    	left: 85%;
	}
}
.alertFeature{
	font-size: 15px;
	height: auto;
	width: auto;
}
.indicateurBody{
	height: 500px;
	width: 50px;
	background-color: white;
}
.indicateurData{
	height: auto;
	width: 450px !important;
	color: black;
	background-color: rgb(167, 194, 212);
	border-radius: 6px;
	font-weight: bold;
	margin-top: 20px;
	font-family: Arial, sans-serif;
	margin-right: 20px;
	margin-left: 10px
}
.indicateurtable{
	height: auto;
	width: auto;
	margin-top: 20px;
	border:1;
	padding:10;
}
.application-dropdown{
	float: right;
	margin-right: 50px;
	color: black;
	font-weight: bold;
}
.m-1{
	height: 30px;
}
.news {
    width: 160px
}
.badgeColor{
	&-OK{
		color: green;
	}
	&-Warning{
		color: orange;
	}
	&-Error{
		color: red;
	}
	&-Info{
		color: blue
	}
	&-bodybackGround{
		background-color: white;
	}
	&-headerbackGround{
		background-color: #00277e;
	}
	&-headerTitle{
		color: white;
		font-weight: bold;
		font-family: Arial, sans-serif;
		font-size: 20px;
    	position: absolute;
    	right: 50%;
    	top: 25%;
	}
}