// Here you can add other styles
.lpmLogo {
	height: 60px;
	width: 100px;
}
.card-appli {
	height: 100px;
	width: 200px;
}
.arrow-direction {
	background-color: lightgrey !important;
	width : 20px;
	height: 20px;
	margin-top: 300px;
	
	&-left{
	margin-left: 40px;
	}
	&-right{
		margin-right: 40px;
	}
}
.header{
	color: #00277e;
	// background-color: #00277e;
	font-weight: bold;
	text-align: left;
	border-radius: 10px;
	font-size: 30px;
}
.indicateurHeader{
	height: 50px;
	color: #00277e;
	background-color: #F9E225;
	border-radius: 20px;
	font-weight: bold;
  	// border: 3px solid yellow;
	text-align: center;
	font-family: Arial, sans-serif;

	&-text{
		font-size: 20px;
    	position: absolute;
    	right: 35%;
    	top: 10%;
	}

	&-img{
		height: 50px !important;
    	width: 40px !important;
    	position: absolute;
    	left: 90%;
	}
}
.indicateurBody{
	height: 500px;
	width: 50px;
	background-color: white;
	// border-right: 2px solid #F9E225;
	// border-left: 2px solid #F9E225;
	// border-bottom: 2px solid blue;
	// border-bottom-left-radius: 10px;
	// border-bottom-right-radius: 10px;
}
.indicateurData{
	height: 50px;
	width: 250px !important;
	color: white;
	background-color:lightseagreen;
	border-radius: 10px;
	font-weight: bold;
	margin-top: 20px;
	font-family: Arial, sans-serif;
}
.application-dropdown{
	float: right;
	margin-right: 50px;
	color: black;
	font-weight: bold;
}
.m-1{
	height: 50px;
}
.badgeColor{
	&-OK{
		color: green;
	}
	&-Warning{
		color: orange;
	}
	&-Error{
		color: red;
	}
	&-Info{
		color: blue
	}
	&-bodybackGround{
		background-color: white;
	}
	&-headerbackGround{
		background-color: #00277e;
	}
	&-headerTitle{
		color: white;
		font-weight: bold;
		font-family: Arial, sans-serif;
		font-size: 20px;
    	position: absolute;
    	right: 50%;
    	top: 25%;
	}
}